<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title><%= title %></title>
</head>
<body>

    <div class="">
        <div class="">
            <h1 class="">Bienvenid@ <%= nombre %></h1>
        </div>
        <button class="" onclick="location.href='/logout'">Logout</button>
    </div>

    <h2 class="title"><%= title %></h2>
    <form class="formularioAgregar" action="/productos" enctype="multipart/form-data" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Nombre del producto">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="Precio del producto">
        <label for="photo">Thumbnail</label>
        <input type="file" name="photo" id="photo" value="Upload a file">
        <button id="button" value="Upload product">Agregar producto</button>
    </form>

    <div class="center">
        <h2>Centro de Mensajes</h2>
        <input type="text" name="mail" id="mail" placeholder="Colocar mail">
        <input type="text" name="nombre" id="nombre" placeholder="Colocar nombre">
        <input type="text" name="apellido" id="apellido" placeholder="Colocar apellido">
        <input type="number" name="edad" id="edad" placeholder="Colocar edad">
        <input type="text" name="mensaje" id="mensaje" placeholder="Colocar mensaje">
        <div id="nuevosMensajes" class="nuevosMensajes"></div>
        <button id="buttonMensajes" class="botonMensajes" value="Agregar Mensaje">Agregar Mensaje</button>
    </div>

    <script src="./socket.io/socket.io.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>