<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="./styles.css">    
</head>

<body>
    <div class="">
        <div class="">
            <h1 class="" >Hasta pronto<strong> <%= nombre %> </strong> 👋</h1>
        </div>
        <button onclick="location.href='/login'" class="button is-primary mt-3">Go to login</button>
    </div>
</body>

</html>